.system {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.role {
    margin: auto;
    display: inline;
    padding-top: 20px;
}

.some {
    display: inline;
    width: fit-content;
    margin: auto;
}

.item {
    width: 200px;
    text-align: center;
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    float: left;
}

#index-gallery {
    width: fit-content;
    margin: auto;
}
